.card-container{
  padding: 10px;
}

.label-radio {
  margin-right: 5px;
}

.radio {
  margin-right: 5px;
}

.label-counter {
  margin-right: 5px;
  margin-left: 5px;
}

.btn-next {
  margin-right: 5px;
}
