.card-container{
  padding: 10px;
}

.label-radio {
  margin-right: 5px;
}

.radio {
  margin-right: 5px;
}

.label-counter {
  margin-right: 5px;
  margin-left: 5px;
}

.btn-next {
  margin-right: 5px;
}

.span-validator {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-validator span {
  display: none;
  color: red;
}

.loader {
    border: 10px solid #FFFFFF; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-right: -30px;
    right: 50%;
    top:50%;
    margin-top:-30px;
    position: absolute;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}