.center-container{
  height: 300px;
  width: 400px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.card-container{
  padding: 10px;
}

.label-radio {
  margin-right: 5px;
}

.radio {
  margin-right: 5px;
}

.label-counter {
  margin-right: 5px;
  margin-left: 5px;
}
